<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>

<body>
    <form action="/todos/edit/{{todo.id}}" method="post">
        <label for="nombre"> Nombre: </label> <br>
        <input type="text" id="nombre" name="nombre" value="{{todo.nombre}}"> <br>

        <label for="descripcion"> Descripción: </label> <br>
        <textarea type="text" id="descripcion" name="descripcion"> {{todo.descripcion}}</textarea> <br>
        
        <input type="submit" value="Guardar">
    </form>

</body>

</html>