    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="UTF-8">
    <title>Todos</title>
    </head>
    <body>
    <h1>Todos</h1>
    <ul>
        {{#each todos}}
        <li>
        <h3>{{this.nombre}}</h3>
        <p>{{this.descripcion}}</p>
        <a href="/todos/edit/{{this.id}}">Editar</a>
        <a href="/todos/delete/{{this.id}}">Eliminar</a>
        </li>
        {{/each}}
    </ul>
    <a href="/todos/create">Crear nuevo </a>
    </body>
    </html>
