<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos </title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>
    <div class="container p-4">
        <h2> Lista productos</h2>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModalAdd">Añadir</button>

        <table class="table table-striped" id="mytable">
            <thead>
                <th> Producto id</th>
                <th> Producto nombre</th>
                <th> Precio</th>
                <th> Acción</th>

            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td> {{ producto_id }}</td>
                    <td> {{ producto_nombre }}</td>
                    <td> {{ producto_precio }}</td>

                    <td><a href="">Editar</a>
                        <a href=""> Borrar</a>
                    </td>

                </tr>

                {{/each}}
            </tbody>

        </table>
    </div>

    {{!-- Modal AGREGAR PRODUCTOS --}}
   <form action="/save" method="post">       
            <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="producto_nombre" class="form-control" placeholder="Nombre producto" required>
                </div>

                <div class="form-group">
                    <input type="text" name="producto_precio" class="form-control" placeholder="Precio" required>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
            </div>
            </div>
        </form>










    <script src="/assets/js/jquery-3.3.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

</body>

</html>