<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/registro" method="post">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre">
        <br>
        <input type="email" name="email" placeholder="Ingresa tu email">
        <br>
        <input type="password" name="password" placeholder="Ingresa tu contraseña">
        <br>
        <button> Enviar</button>

    </form>

</body>

</html>